doctype 5
html
    head
        title Examine page
        link(rel="stylesheet", href="./css/bootstrap.css")
        link(rel="stylesheet", href="./css/my.css")
    body
        div(id="root")
        script(src="dist/index.js")
